.DS_Store

.cache/
node_modules/
.tmp/
.npm-cache/

npm-debug.log
yarn-error.log

dist/
dev/
.npm-package/

*.tgz
coverage/

.vscode
.idea

docs-build/

**/.metro-health-check*

# windows
msbuild.binlog

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
